@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F2EC;
  color: #1A110A;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
